.disabled{
	pointer-events: none;
	cursor: default;
	background-color: #cccccc;
	color: #666666;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 18px;
  transition:0.2s;
}

.button:hover {
  background-color: black;
  color: #f1f1f1;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #f1f1f1;
  color: black;
}

.round {
  border-radius: 50%;
}

.liner{
	text-align:center;
	margin: 5%;
}

.table-title{
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}


.left{
	text-align:left;
}

.right{
	text-align:right;
}

.btn-dark {
  border-color: white;
  color: black;
}

.btn-dark:hover {
  background: black;
  color:white;
}

.btn1 {
  display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: black;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 3rem;
    margin: 10px;
	margin-left: 25px;
}

.btn1:hover{
	box-shadow: 0px 8px 15px rgba(1, 1, 4, 0.3);
	transition: 0.2s;
}

.atext{
	color: black;
}

.atext:hover{
	color: white;
}