body {
	margin: 0;
	padding: 0;
}

.MainPage{
	background-image:url("IMG/spolarium.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.SecondaryPage{
	background-image:url("IMG/blurred-spol.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.navbar {
  width: 100%;
  overflow: auto;
}

.navbar a {
  font-family: "Bebas Neue",sans-serif;
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 12%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
  text-align: center; /* If you want the text to be centered */
  margin-top: 30px;
}

.navbar a:hover {
	-webkit-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	-moz-box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	box-shadow: 15px 15px 20px rgba(0,0, 0, 0.4);
	transform: scale(1.01);
	transition: 0.5s;
	text-decoration: underline;
}

.navbar a.active {
  color: #F7C76D;  
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left; /* If you want the text to be left-aligned on small screens */
  }
}

.navbar img{
	display: inline;
	width: 15%;
	float:left;
	margin-top: 10px;
	margin-bottom:10px;
}

hr{
	height: 10px;
	width: 100%;
	float:left;
	background-image: url("IMG/hr.png"); 
	background-repeat: no-repeat; 
	background-position: center; 
	background-color: transparent; 
	border: none; width: 50%; 
	margin-top: 0px;
	margin-bottom: 5%;
}

.prjTitle{
	color: #fff;
}

.prjTitle h1{
	font-family: "The Seasons", "Engravers MT", Times, serif;
	font-size: 8em;
	text-align: center;
	margin-bottom:5px;
}

.prjTitle h3{
	font-family: "The Seasons", "Segoe UI", Times, sans-serif;
	font-size: 1.80em;
	text-align: center;
	margin-top:10px;
	margin-bottom:5px;
}
